/*.ass
/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.srt
/*.tab.c
/*.tar.gz
/*~
/.*.sw[nop]
/.anjuta/
/.anjuta_sym_db.db
/.deps
/.dirstamp
/.gitignore
/.libs
/Debug/
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Optimized/
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/missing
/so_locations
/stamp-h1
/tags
/test-driver
