Source: srtmerge
Maintainer: Kostiantyn Korienkov <kkorienkov@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: srtmerge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: merge 2 subtitles into SubRip SRT or Sub Station Alpha ASS formats
 SubRip Merge joins two SubRip subtitles into single subtitle with styling and encoding supports in two different formats SubRip SRT or Sub Station Alpha (SubStation Alpha) ASS.
